@model IEnumerable<todoASPMVC.Models.Taches>

@{
    ViewBag.Title = "ViewTaches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewTaches</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.NomUtilisateur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomTache)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Statut)
        </th>
        <th hidden>
            @Html.DisplayNameFor(model => model.IdTache)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Statut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomTache)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomUtilisateur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdTache)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
